body {
margin: 0%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 1px solid cornflowerblue;

}
.flex-items1{
    height: 40px;
    width: 40px;
    background-color: aqua;
}
.flex-items2{
    height: 40px;
    width: 40px;
    background-color:red;
}
.flex-items3{
    height: 40px;
    width: 40px;
    background-color:green;
}